.nav-link.active {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0.5rem;
}

.nav-link {
  cursor: pointer;
}


aside {
  position: sticky;
  top: 0;
  height: 100vh;
}
    aside .nav-link {
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

aside .nav-link:hover {
  background-color: #cacaca !important;
  color: #000000 !important;
}

aside .nav-link:hover i {
  color: #000000 !important;
}
